<template>
  <div>
    <div class="md-layout md-gutter">
    
      <div
        class="app_review_layout app_review_layout_cta"
        style="width: 100%; display: flex"
        v-if="ctaIntallBox === true "
      >
        <div style="width: 7%; margin: auto">
          <div style="max-width: 66px;">
            <img
              src="https://cdn.shopify.com/s/files/1/0062/2555/9655/t/1/assets/1567492313_213123.png?562"
              fluid
              alt="Responsive image"
            />
          </div>
        </div>
        <div style="width: 63%; margin: auto">
          <strong style="font-size: 16px; color: #fff; line-height: 1.5;">
            CTA Buttons app
            <br />
            <span class="heart-beat">❤</span>
            {{ selectedCtaContent }} 👍
          </strong>
        </div>
        <div style="width: 30%;  margin: auto; text-align: center">
          <md-button
            v-on:click="clickInstallCta"
            class="md-elevation-1 md-dense md-raised md-light"
          >Get App Now</md-button>
          <a href="#" v-on:click="closeCtaLayout" title="Close" class="app_review_close">x</a>
        </div>
      </div>
  <div class="app_review_layout" style="width: 100%; display: flex" v-if="reviewApp === true ">
        <div style="width: 70%; margin: auto">
          <strong style="font-size: 16px; color: #fff">
            <span class="heart-beat">❤</span>
            {{ selectedReviewContent }} 👍
          </strong>
        </div>
        <div style="width: 30%;  margin: auto; text-align: center">
          <md-button
            v-on:click="clickRateUs"
            class="md-elevation-1 md-dense md-raised md-light"
          >Rate Us</md-button>
          <a href="#" v-on:click="closeReviewLayout" title="Close" class="app_review_close">x</a>
        </div>
      </div>
      <div
          v-if="showBannerBaseCost == true"
          style="width: 100%; display: flex"
          class="app_review_layout base_cost_box"
        >
          <div style="width: 7%; margin: auto">
          <div style="max-width: 66px;">
            <img
              src="https://apps.shopifycdn.com/listing_images/b4fd008cf0807607931825f75d1056d3/icon/4bdffe86584b57d39615b123bad4754d.png"
              fluid
              alt="Responsive image"
            />
          </div>
          </div>
         <div style="width: 63%; margin: auto">
          <strong style="font-size: 18px; color: #fff; line-height: 1.5;">
             Searchify Live Search & Filter
            <br />
             <span style="text-transform: uppercase; font-size: 16px;">Free for the first 100 stores installed.</span>
          </strong>
        </div>
         <div style="width: 30%;  margin: auto; text-align: center">
          <md-button
            v-on:click="clickBaseCostCta"
            class="md-elevation-1 md-dense md-raised md-light"
          >Get App Now</md-button>
          <a href="#" v-on:click="closeBannerBaseCost" title="Close" class="app_review_close">x</a>
        </div>
         </div>
      </div>
    <div class="md-layout md-gutter">
      <div class="app-content md-layout-item md-medium-size-42 md-small-size-50 md-xsmall-size-100">
        <h3 class="page-heading">General Settings</h3>
        <div class="md-layout md-gutter">
          <div class="md-layout-item md-size-100">
            <md-checkbox v-model="settings.app_enable"></md-checkbox>&nbsp;
            <label>Enable popup on your store</label>
          </div>
          <div class="md-layout-item md-size-100">
            <label>Message</label>
            <input v-model="settings.message" class="form-control" type="text" />
          </div>
          <div class="md-layout-item md-size-100">
            <label>Submit button text</label>
            <input v-model="settings.submit_text" class="form-control" type="text" />
          </div>
          <div class="md-layout-item md-size-100">
            <label>More information link text</label>
            <input v-model="settings.info_text" class="form-control" type="text" />
          </div>
          <div class="md-layout-item md-size-100">
            <label>Link of your Privacy Policy's page</label>
            <input v-model="settings.privacy_link" class="form-control" type="text" />
          </div>
          <div class="md-layout-item md-size-100">
            <label>Popup's layout</label>
            <div style="overflow:hidden;">
              <select v-model="settings.popup_layout" class="form-control" style="max-width:250px;">
                <option value="1">Full width</option>
                <option value="2">Corner popup</option>
              </select>
            </div>
          </div>
          <div class="md-layout-item md-size-100" v-if="settings.popup_layout == 1">
            <label>Position</label>
            <div style="overflow:hidden;">
              <select
                v-model="settings.fullwidth_position"
                class="form-control"
                style="max-width:250px;"
              >
                <option value="1">Top</option>
                <option value="2">Bottom</option>
              </select>
            </div>
          </div>
          <div class="md-layout-item md-size-100" v-if="settings.popup_layout == 2">
            <label>Position</label>
            <div class="md-layout md-gutter">
              <div class="md-layout-item md-size-25 md-xsmall-size-50">
                <label class="radio">
                  <img src="admin/images/position_4.jpg" width="100%" />
                  <div class="btn_position">
                    <input type="radio" name="style" v-model="settings.corner_position" value="1" />
                    <span class="outer">
                      <span class="inner"></span>
                    </span>
                  </div>
                </label>
              </div>
              <div class="md-layout-item md-size-25 md-xsmall-size-50">
                <label class="radio">
                  <img src="admin/images/position_1.jpg" width="100%" />
                  <div class="btn_position">
                    <input type="radio" name="style" v-model="settings.corner_position" value="2" />
                    <span class="outer">
                      <span class="inner"></span>
                    </span>
                  </div>
                </label>
              </div>
              <div class="md-layout-item md-size-25 md-xsmall-size-50">
                <label class="radio">
                  <img src="admin/images/position_3.jpg" width="100%" />
                  <div class="btn_position">
                    <input type="radio" name="style" v-model="settings.corner_position" value="3" />
                    <span class="outer">
                      <span class="inner"></span>
                    </span>
                  </div>
                </label>
              </div>
              <div class="md-layout-item md-size-25 md-xsmall-size-50">
                <label class="radio">
                  <img src="admin/images/position_2.jpg" width="100%" />
                  <div class="btn_position">
                    <input type="radio" name="style" v-model="settings.corner_position" value="4" />
                    <span class="outer">
                      <span class="inner"></span>
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-100">
            <md-checkbox v-model="settings.show_all"></md-checkbox>&nbsp;
            <label>Enable popup for all countries</label>
          </div>
          <div class="md-layout-item md-size-100" v-if="settings.show_all == false">
            <md-checkbox v-model="settings.show_all_eu"></md-checkbox>&nbsp;
            <label>Enable popup just for all EU countries</label>
          </div>
          <div
            class="md-layout-item md-size-100"
            v-if="settings.show_all == false && settings.show_all_eu == false"
          >
            <label>or for specified EU countries</label>
            <div>
              <multiselect
                v-model="settings.eu_countries"
                placeholder="Search country"
                select-label="Select"
                deselect-label="Remove"
                :options="eu_countries"
                :multiple="true"
                :close-on-select="true"
                label="title"
                track-by="title"
              ></multiselect>
            </div>
          </div>
          <div class="md-layout-item md-size-100">
            <label>Browser cookies lifetime (days)</label>
            <div style="overflow:hidden;">
              <input
                v-model="settings.cache_time"
                class="form-control"
                type="number"
                min="1"
                max="100"
              />
            </div>
          </div>
          <div class="md-layout-item md-size-100">
            <label>Popup background color</label>
            <div>
              <el-color-picker v-model="settings.popup_bgcolor"></el-color-picker>
            </div>
          </div>
          <div class="md-layout-item md-size-100">
            <label>Popup text color</label>
            <div>
              <el-color-picker v-model="settings.popup_textcolor"></el-color-picker>
            </div>
            <!-- <input
                class="jscolor inputColor"
                v-on:change="updateColor($event.target,'popup_textcolor')"
                :value="settings.popup_textcolor"
            />-->
          </div>
          <div class="md-layout-item md-size-100">
            <label>More information link text color</label>
            <div>
              <el-color-picker v-model="settings.more_textcolor"></el-color-picker>
            </div>
          </div>
          <div class="md-layout-item md-size-100">
            <label>Submit background color</label>
            <div>
              <el-color-picker v-model="settings.submit_bgcolor"></el-color-picker>
            </div>
          </div>
          <div class="md-layout-item md-size-100">
            <label>Submit text and border color</label>
            <div>
              <el-color-picker v-model="settings.submit_textcolor"></el-color-picker>
            </div>
          </div>
          <div class="md-layout-item md-size-100">
            <label>Custom CSS</label>
            <div>
              <textarea
                class="form-control"
                v-model="settings.custom_css"
                style="min-height: 100px;"
              ></textarea>
            </div>
          </div>
        </div>
        <md-button @click="saveSettings" class="md-elevation-1 md-dense md-raised md-primary">Save</md-button>
      </div>
      <div class="app-content md-layout-item md-medium-size-58 md-small-size-50 md-xsmall-size-100">
        <h3 class="page-heading">Layout Preview</h3>
        <div class="md-layout md-gutter">
          <div
            style="overflow: hidden;padding:5px; margin:10px 0px 30px 0px; border-radius:2px; font-weight:bold; font-size:0.9em; border:1px solid #CCC; background-color:#F5f5f5;"
          >
            Attention!
            This is a preview only. The visuals might differ after applying settings due to extra styling rules that your Theme might have or the available space.
          </div>
          <img style="width: 100%" src="assets/images/gd.png" />
          <div class="preview-app otCookiesNotification" v-if="settings.popup_layout == 1">
            <link rel="stylesheet" type="text/css" href="admin/styles/demoApp.css?v=5" />
            <div
              id="cookies-wrapper"
              v-if="settings.fullwidth_position == 1"
              v-bind:style="{ top: 0, color: settings.popup_textcolor, background: settings.popup_bgcolor}"
            >
              <div id="cookies-message">
                {{ settings.message }}&nbsp;
                <a
                  id="cookies-more-info"
                  v-on:click="showDetail"
                  v-bind:style="{ color: settings.more_textcolor }"
                >{{ settings.info_text }}</a>
              </div>
              <div id="cookies-submit">
                <a
                  v-bind:style="{ color: settings.submit_textcolor, background: settings.submit_bgcolor, borderColor: settings.submit_textcolor }"
                >{{ settings.submit_text }}</a>
              </div>
              <!-- <div id="cookies-detail" style="align-items: center; display: flex; margin-left: 4px;">
                <a
                  id="cookies-more-info"
                  v-on:click="showDetail"
                  v-bind:style="{ color: settings.more_textcolor }"
                >{{showdisplaytext}}</a>
              </div>
          -->
            </div>

            <div
              id="cookies-wrapper"
              v-if="settings.fullwidth_position == 2"
              v-bind:style="{ bottom: 0, color: settings.popup_textcolor, background: settings.popup_bgcolor}"
            >
              <div id="cookies-message">
                {{ settings.message }}&nbsp;
                <a
                  id="cookies-more-info"
                  :href="settings.privacy_link"
                  v-bind:style="{ color: settings.more_textcolor }"
                >{{ settings.info_text }}</a>
              </div>
              <div id="cookies-submit">
                <a
                  v-bind:style="{ color: settings.submit_textcolor, background: settings.submit_bgcolor, borderColor: settings.submit_textcolor }"
                >{{ settings.submit_text }}</a>
              </div>
             <div id="cookies-detail" style="align-items: center; display: flex; margin-left: 4px;">
                <a
                  id="cookies-more-info"
                  v-on:click="showDetail"
                  v-bind:style="{ color: settings.more_textcolor }"
                >{{showdisplaytext}}</a>
              </div>            
            </div>
            <div id="cookies-show-detail-top" v-if="settings.fullwidth_position == 1" v-bind:style="{display: showdisplay,color: settings.popup_textcolor, background: settings.popup_bgcolor}">
              <div id="CookieDialogDetail" style="display: block">                                                  
                    <div id="CookieDialogDetailContent">
                        <md-tabs md-sync-route>
                            <md-tab id="tab-Necessary" md-label="Necessary"></md-tab>
                            <md-tab id="tab-Preferences" md-label="Preferences">
                                <md-table v-model="users" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
                                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                                    <md-table-cell md-label="Name" >{{ item.name }}</md-table-cell>
                                    <md-table-cell md-label="Provider" >{{ item.provider }}</md-table-cell>
                                    <md-table-cell md-label="Purpose" >{{ item.purpose }}</md-table-cell>
                                </md-table-row>
                            </md-table>
                        </md-tab>
                        <md-tab id="tab-Statistics" md-label="Statistics"></md-tab>
                        <md-tab id="tab-Marketing" md-label="Marketing"></md-tab>
                        <md-tab id="tab-About" md-label="About Cookies">
                            <p>Cookies are small text files that can be used by websites to make a user's experience more efficient.
                               The law states that we can store cookies on your device if they are strictly necessary for the operation of this site. For all other types of cookies we need your permission.
                               This site uses different types of cookies. Some cookies are placed by third party services that appear on our pages.
                               You can at any time change or withdraw your consent from the Cookie Declaration on our website.
                               Learn more about who we are, how you can contact us and how we process personal data in our Privacy Policy.
                               Your consent applies to the following domains: www.cookiebot.com, manage.cookiebot.com, support.cookiebot.com, www.cybot.com</p>
                        </md-tab>
                    </md-tabs>           
                </div>
              </div>
               <div id="cookies">
                <a
                  id="cookies-more-info"
                    href="https://apps.omegatheme.com/"
                  v-bind:style="{ color: settings.more_textcolor }"
                >Power By Omega</a>
              </div> 
            </div>
             <div
              id="cookies-show-detail"
              v-if="settings.fullwidth_position == 2"
              v-bind:style="{display: showdisplay,color: settings.popup_textcolor, background: settings.popup_bgcolor}"
            >
              <div id="CookieDialogDetail" style="display: block">                                                  
                    <div id="CookieDialogDetailContent">
                        <md-tabs md-sync-route>
                            <md-tab id="tab-Necessary" md-label="Necessary"></md-tab>
                            <md-tab id="tab-Preferences" md-label="Preferences">
                                <md-table v-model="users" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
                                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                                    <md-table-cell md-label="Name" >{{ item.name }}</md-table-cell>
                                    <md-table-cell md-label="Provider" >{{ item.provider }}</md-table-cell>
                                    <md-table-cell md-label="Purpose" >{{ item.purpose }}</md-table-cell>
                                </md-table-row>
                            </md-table>
                        </md-tab>
                        <md-tab id="tab-Statistics" md-label="Statistics"></md-tab>
                        <md-tab id="tab-Marketing" md-label="Marketing"></md-tab>
                        <md-tab id="tab-About" md-label="About Cookies">
                            <p>Cookies are small text files that can be used by websites to make a user's experience more efficient.
                               The law states that we can store cookies on your device if they are strictly necessary for the operation of this site. For all other types of cookies we need your permission.
                               This site uses different types of cookies. Some cookies are placed by third party services that appear on our pages.
                               You can at any time change or withdraw your consent from the Cookie Declaration on our website.
                               Learn more about who we are, how you can contact us and how we process personal data in our Privacy Policy.
                               Your consent applies to the following domains: www.cookiebot.com, manage.cookiebot.com, support.cookiebot.com, www.cybot.com</p>
                        </md-tab>
                    </md-tabs>           
                </div>
              </div>
               <div id="cookies">
                <a
                  id="cookies-more-info"
                    href="https://apps.omegatheme.com/"
                  v-bind:style="{ color: settings.more_textcolor }"
                >Power By Omega</a>
              </div> 
            </div>
          </div>
          <div class="preview-app otCookiesNotification" v-if="settings.popup_layout == 2">
            <link rel="stylesheet" type="text/css" href="admin/styles/demoApp-corner.css?v=1" />
            <div
              id="cookies-wrapper"
              v-if="settings.corner_position == 1"
              v-bind:style="{ top: 0, left: 0, color: settings.popup_textcolor, background: settings.popup_bgcolor}"
            >
              <div id="cookies-message">{{ settings.message }}</div>
              <div id="cookies-submit">
                <a
                  v-bind:style="{ color: settings.submit_textcolor, background: settings.submit_bgcolor, borderColor: settings.submit_textcolor }"
                >{{ settings.submit_text }}</a>
              </div>
              <div id="cookies-detail" style="align-items: center; display: flex; margin-left: 4px;">
                <a
                  id="cookies-more-info"
                  v-on:click="showDetail"
                  v-bind:style="{ color: settings.more_textcolor }"
                >Details</a>
              </div>
              <div id="cookies-privacy">
                <a
                  id="cookies-more-info"
                  :href="settings.privacy_link"
                  v-bind:style="{ color: settings.more_textcolor }"
                >{{ settings.info_text }}</a>
              </div>
            </div>
            <div
              id="cookies-wrapper"
              v-if="settings.corner_position == 2"
              v-bind:style="{ bottom: 0, left: 0, color: settings.popup_textcolor, background: settings.popup_bgcolor}"
            >
              <div id="cookies-message">{{ settings.message }}</div>
              <div id="cookies-submit">
                <a
                  v-bind:style="{ color: settings.submit_textcolor, background: settings.submit_bgcolor, borderColor: settings.submit_textcolor }"
                >{{ settings.submit_text }}</a>
              </div>
              <div id="cookies-detail" style="align-items: center; display: flex; margin-left: 4px;">
                <a
                  id="cookies-more-info"
                  v-on:click="showDetail"
                  v-bind:style="{ color: settings.more_textcolor }"
                >Details</a>
              </div>
              <div id="cookies-privacy">
                <a
                  id="cookies-more-info"
                  :href="settings.privacy_link"
                  v-bind:style="{ color: settings.more_textcolor }"
                >{{ settings.info_text }}</a>
              </div>
            </div>
            <div
              id="cookies-wrapper"
              v-if="settings.corner_position == 3"
              v-bind:style="{ top: 0, right: 0, color: settings.popup_textcolor, background: settings.popup_bgcolor}"
            >
              <div id="cookies-message">{{ settings.message }}</div>
              <div id="cookies-submit">
                <a
                  v-bind:style="{ color: settings.submit_textcolor, background: settings.submit_bgcolor, borderColor: settings.submit_textcolor }"
                >{{ settings.submit_text }}</a>
              </div>
              <div id="cookies-detail" style="align-items: center; display: flex; margin-left: 4px;">
                <a
                  id="cookies-more-info"
                  v-on:click="showDetail"
                  v-bind:style="{ color: settings.more_textcolor }"
                >Details</a>
              </div>
              <div id="cookies-privacy">
                <a
                  id="cookies-more-info"
                  :href="settings.privacy_link"
                  v-bind:style="{ color: settings.more_textcolor }"
                >{{ settings.info_text }}</a>
              </div>
            </div>
            <div
              id="cookies-wrapper"
              v-if="settings.corner_position == 4"
              v-bind:style="{ bottom: 0, right: 0, color: settings.popup_textcolor, background: settings.popup_bgcolor}"
            >
              <div id="cookies-message">{{ settings.message }}</div>
              <div id="cookies-submit">
                <a
                  v-bind:style="{ color: settings.submit_textcolor, background: settings.submit_bgcolor, borderColor: settings.submit_textcolor }"
                >{{ settings.submit_text }}</a>
              </div>
              <div id="cookies-detail" style="align-items: center; display: flex; margin-left: 4px;">
                <a
                  id="cookies-more-info"
                  v-on:click="showDetail"
                  v-bind:style="{ color: settings.more_textcolor }"
                >Details</a>
              </div>
              <div id="cookies-privacy">
                <a
                  id="cookies-more-info"
                  :href="settings.privacy_link"
                  v-bind:style="{ color: settings.more_textcolor }"
                >{{ settings.info_text }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
 
<script>
const shop = window.shop;
const rootLink = window.rootLink;

module.exports = {
  data: function() {
    return {

      eu_countries: [
        { value: "BE", title: "Belgium" },
        { value: "BG", title: "Bulgaria" },
        { value: "CZ", title: "Czech Republic" },
        { value: "DK", title: "Denmark" },
        { value: "DE", title: "Germany" },
        { value: "EE", title: "Estonia" },
        { value: "IE", title: "Ireland" },
        { value: "GR", title: "Greece" },
        { value: "ES", title: "Spain" },
        { value: "FR", title: "France" },
        { value: "HR", title: "Croatia" },
        { value: "IT", title: "Italy" },
        { value: "CY", title: "Cyprus" },
        { value: "LV", title: "Latvia" },
        { value: "LT", title: "Lithuania" },
        { value: "LU", title: "Luxembourg" },
        { value: "HU", title: "Hungary" },
        { value: "MT", title: "Malta" },
        { value: "NL", title: "Netherlands" },
        { value: "AT", title: "Austria" },
        { value: "PL", title: "Poland" },
        { value: "PT", title: "Portugal" },
        { value: "RO", title: "Romania" },
        { value: "SI", title: "Slovenia" },
        { value: "SK", title: "Slovakia" },
        { value: "FI", title: "Finland" },
        { value: "SE", title: "Sweden" },
        { value: "UK", title: "United Kingdom" },
        { value: "IS", title: "Iceland" },
        { value: "LI", title: "Liechtenstein" },
        { value: "NO", title: "Norway" },
        { value: "CH", title: "Switzerland" },
        { value: "ME", title: "Montenegro" },
        { value: "MK", title: "Macedonia" },
        { value: "AL", title: "Albania" },
        { value: "RS", title: "Serbia" },
        { value: "TR", title: "Turkey" },
        { value: "BA", title: "Bosnia and Herzegovina" },
        { value: "AM", title: "Armenia" },
        { value: "AZ", title: "Azerbaijan" },
        { value: "BY", title: "Belarus" },
        { value: "MD", title: "Moldova" },
        { value: "GE", title: "Georgia" },
        { value: "UA", title: "Ukraine" }
      ],

      settings: {},
      reviewApp: true,
      showdisplay: "none",
      showdisplaytext: "Details",
      showBannerBaseCost: true,
      ctaIntallBox: true,
     reviewContent: [
        "How do your rate us, it's motivate us a lot to make more free app",
        "We'd love to hear your feedback on how you feel about your product once you get to use it for yourself! If you could take a few minutes to leave us a review on Shopify Appstore for us, we'd be so happy.",
        "How did you enjoy Facebook Messenger App? We're always looking to improve our service, and we love getting feedback from our visitors on what they enjoyed most.",
        "Do you have three minutes to leave a review on App store for us? We'd be so excited to read it!",
        "Did you enjoy using our App? Please share with us your experience with our App on Shopify App Store.",
        "Thank you for using our app! After all, we are always striving to improve our apps, so we will be appreciated if you leave your feedback.",
        "Hi! Could you spare a moment to leave a review. Your comments really help prospective customers to feel more confident in choosing us and motivate us to make more useful apps!",
        "Did you find our app useful? We’d love to hear your own experience so don’t forget to leave your lovely review",
        "How was your experience with our app today? We love sharing that with potential customers so they can feel more comfortable with choosing us.  If you’re comfortable with it, it’d be awesome if you could share yours on Shopify app store.",
        "We would love it if you shared this experience on Shopify Appstore. Seeing good reviews from customers is our biggest motivation!",
        "Could you take 60 seconds to review and share your happy experiences? Thank you in advance for helping us out!",
        "How did you enjoy our app?! We hope you love it. If you do, would you consider posting a review? This helps us to continue providing great apps, and helps other buyers to make the right decisions.",
        "Please write a review for our app. Thank you in advance for your feedback and for being a wise customer."
      ],
      selectedReviewContent: "",
      ctaContent: [
        "Add “Call me now!” phone button to your website",
        "Keep in touch with your customers with Phone and SMS buttons!",
        "Add groups of contact buttons phone number, SMS, email, social networks to your store",
        "Add clickable phone icons and numbers to trigger a phone call!",
        "Add sticky buttons Whatsapp/Telegram/Lines/SMS to your website",
        "Phone now button enables your visitors to get in contact with you quickly. Try it now!",
        "Provide your MSG Service through Whatsapp/Telegram/Lines/Facebook Messenger group buttons!",
        "Let’s create a group of floating buttons Whatsapp/Telegram/Lines/SMS on your site!",
        "Let your customers get to know you by adding a Shortcut link button to Learn more page",
        "Informative your customer with Shortcut link to Shipping Policy/ Promotion/ TOS page",
        "Use the sticky Back to Top button to help users get back to the top of your web page",
        "The social media buttons are ready! Set up Facebook/Twitter/ Instagram on your website!",
        "Facebook/Twitter/Instagram buttons are all ready for you to set up!",
        "Add more MUST HAVE BUTTONS for mobile",
        "Increase Sales with MUST HAVE CTA BUTTONS "
      ],
      users: [
        {
          id: 1,
          name: '__RequestVerificationToken',
          provider: 'Cookiebot',
          type: 'HTTP',
          purpose: 'Helps prevent Cross-Site Request Forgery (CSRF) attacks.'
        },
        {
          id: 2,
          name: '__cfduid [x4]',
          provider: 'Zendesk Cookiebot',
          type: 'HTTP',
          purpose: 'Used by the content network, Cloudflare, to identify trusted web traffic.'
        }
      ],
      selectedCtaContent: ""
    };
  },
  created() {
    const idx = Math.floor(Math.random() * this.reviewContent.length);
    this.selectedReviewContent = this.reviewContent[idx];

    const idCta = Math.floor(Math.random() * this.ctaContent.length);
    this.selectedCtaContent = this.ctaContent[idCta];
  },
  mounted: function() {
    if (localStorage.getItem("show_cookies_review") === "0") {
      this.reviewApp = false;
    } else {
      this.reviewApp = true;
    }

    if (localStorage.getItem("cookies_show_cta_install") === "0") {
      this.ctaIntallBox = false;
    } else {
      this.ctaIntallBox = true;
    }
    if (localStorage.getItem("show_base_cost_banner") === "0") {
      this.showBannerBaseCost = false;
    } else {
      this.showBannerBaseCost = true;
    }
    this.getSettings();
  },
  methods: {
    getSettings: function() {
      var self = this;
      self.$http
        .get("services.php", {
          params: {
            action: "getSettings",
            shop: shop
          }
        })
        .then(result => {
          result.body.app_enable == 1
            ? (result.body.app_enable = true)
            : (result.body.app_enable = false);
          result.body.show_all == 1
            ? (result.body.show_all = true)
            : (result.body.show_all = false);
          result.body.show_all_eu == 1
            ? (result.body.show_all_eu = true)
            : (result.body.show_all_eu = false);
          self.settings = result.body;
        });
    },
    saveSettings: function() {
      var self = this;
      self.$http
        .post(
          "services.php",
          {
            action: "saveSettings",
            shop: shop,
            settings: self.settings
          },
          {
            emulateJSON: true
          }
        )
        .then(() => {
          ShopifyApp.flashNotice("Save successful !");
        });
    },
    updateColor: function(input, value) {
      var self = this;
      self.settings[value] = input.value;
    },

    clickRateUs: function() {
      localStorage.setItem("show_cookies_review", "0");
      this.reviewApp = false;
      window.open(
        "https://apps.shopify.com/eu-cookies-notification#modal-show=ReviewListingModal",
        "_blank"
      );
    },

    closeReviewLayout: function() {
      localStorage.setItem("show_cookies_review", "0");
      this.reviewApp = false;
    },

    clickInstallCta: function() {
      localStorage.setItem("cookies_show_cta_install", "0");
      this.ctaIntallBox = false;
      window.open(
        "https://apps.shopify.com/cta-buttons/?utm_source=admin_fb_messenger&ref=admin_fb_messenger&surface_type=OMEGA_APP_ADMIN&surface_detail=facebook_chat",
        "_blank"
      );
    },

    closeCtaLayout: function() {
      localStorage.setItem("cookies_show_cta_install", "0");
      this.ctaIntallBox = false;
    },
    showDetail: function() {
        if(this.showdisplay === "none"){
            this.showdisplay = "block";
            // this.showdisplaytext = "Hide Details";
        }else{
             this.showdisplay = "none";
            //  this.showdisplaytext = "Details";
        }
    },
    closeBannerBaseCost: function() {
      localStorage.setItem("show_base_cost_banner", 0);
      this.showBannerBaseCost = false;
    },
     clickBaseCostCta: function() {
      localStorage.setItem("show_base_cost_banner", 0);
      this.showBannerBaseCost = false;
      window.open(
        "https://apps.shopify.com/better-search/?utm_source=admin_fb_messenger&ref=admin_fb_messenger&surface_type=admin_fb_messenger&surface_detail=facebook_chat",
        "_blank"
      );
    }
  },
  components: {
    Multiselect: window.VueMultiselect.default
  }
};
</script>
<style>
.app_review_layout {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(63, 63, 68, 0.05) 0px 0px 0px 1px,
    rgba(63, 63, 68, 0.15) 0px 1px 3px 0px;
  background-color: white;
  background-image: linear-gradient(141deg, #005fec 30%, #00a95b 76%);
  padding: 20px 50px;
  margin: 20px 30px;
  position: relative;
}

.app_review_layout.app_review_layout_cta {
  background-image: linear-gradient(141deg, #c01e64 30%, #ff9a3f 76%);
}

.app_review_layout .app_review_close {
  color: #fff !important;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.heart-beat {
  color: red;
  animation: 2s infinite beatHeart;
  display: inline-block;
}
.md-layout-item {
   
  }
/* .CookieDialog-wrapper #OmegaCookieDialogDetailContentTypes{

} */
@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.app_review_close:hover {
    color:rgb(255, 73, 73);
}
.app_review_layout.base_cost_box {
    background-image: linear-gradient(141deg,rgb(0, 159, 60) 30%, rgb(43, 111, 111) 76%);
}

.message {
    background: #fff;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.31);
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2em auto;
}

.message header {
    background: rgb(255, 111, 0);
    width: 100%;
    padding: .5em;
}

.message i:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    background: rgb(67, 46, 29);
    color: rgb(255, 183, 128);
    content: "\f071";
    font-style: normal;
    padding: 1em .75em;
    font-size: 1.25em;
    display: block;
    width: 2.5em;
    height: 100%;
    text-align: center;
}

.message h2 {
    margin: .75em;
    font-size: 1.25em;
    position: relative;
    display: block;
    width: calc(100% - 2.5em - 1.5em);
}

</style>
