.otCookiesNotification #cookies-wrapper {
    position: fixed;
    padding: 1em 1.8em;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Helvetica,Calibri,Arial,sans-serif;
    font-size: 14px;
    z-index: 9999;
    text-align: left;
}
#cookies-message {
    margin-bottom: 20px;
}
#cookies-submit {
    width: 45%;
    float: left;
}
#cookies-submit a {
    cursor: pointer;
    touch-action: manipulation;
    display: block;
    padding: .4em .8em;
    font-size: 1em;
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}
#cookies-privacy {
    width: 45%;
    float: right;
    cursor: pointer;
    touch-action: manipulation;
    display: inline-block;
    padding: .4em .8em;
    font-size: 1em;
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    text-align: center;
}
@media only screen and (min-width: 568px){
    .otCookiesNotification #cookies-wrapper{
        max-width: 400px;
    }
}