.otCookiesNotification #cookies-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    padding: 1em 1.8em;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Helvetica,Calibri,Arial,sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.5em;
    z-index: 9999;
}
.otCookiesNotification #container-detail {
    position: fixed;
    left: 0;
    right: 0;
    padding: 1em 1.8em;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Helvetica,Calibri,Arial,sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.5em;
    z-index: 9999;

}
/* #cookies-message{
    margin-right: 15px;
} */
#cookies-more-info {
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.8;
}

#cookies-submit > a{
    cursor: pointer;
    touch-action: manipulation;
    display: inline-block;
    padding: .4em .8em;
    font-size: .9em;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
    min-width: 140px;
}

.omega-padding {
    padding: 8px 16px!important;
}
.omega-bottomBar {
    border-bottom: 4px solid rgb(255, 255, 255)!important;
}
.omega-border-red, .omega-hover-border-red:hover {
    border-color:  #428cec!important;
    color: #428cec;
}
@media only screen and (min-width: 768px){
    .otCookiesNotification #cookies-wrapper{
        text-align: left;
        display: flex;
    }
    .omega-col.m4, .omega-third {
        width: 16.33333%;
        float: left;
    }
    #cookies-submit > a{
        display: block;
    }
    #cookies-message{
        -ms-flex: 1;
        flex: 1;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    #cookies-detail{
       
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    #cookies-detail-hidden{
        display: none;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    .cookies-detail-btn{
        display: flex;
        align-items: center;
        margin-left: 5px;
    }
    #cookies-submit{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: justify;
        align-content: space-between;;
    }
    #cookies-submit > a{
        -ms-flex: 1;
        flex: 1;
    }
}