#cookiesNotificationApp {
    overflow: hidden;
    width: 100%;
}
.page-container {
    margin-top: 30px;
}
.page-container > .md-layout.md-gutter {
    margin-left: 0;
    margin-right: 0;
}
.app-content .md-layout.md-gutter {
    margin-left: 0;
    margin-right: 0;
    color: rgba(0,0,0,0.87);
    background-color: #f6f7fb;
}


.page-heading {
    text-transform: uppercase;
    font-size: 20px;
    background: rgb(63,81,181);
    color: #FFF;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;
}


.radio {
    display: inline-block;
    font-size: 18px;
    line-height: 49px;
    cursor: pointer;
}

.radio:hover .inner {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: .5;
    margin-top: -1px;
    margin-left: -1px;
}

.radio input {
    width: 1px;
    height: 1px;
    opacity: 0;
}

.radio input:checked + .outer .inner {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    margin-top: -1px;
    margin-left: -1px;
}

.radio input:checked + .outer {border: 1px solid #448aff;}

.radio input:focus + .outer .inner {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    background-color: #448aff;
}

.radio .outer {
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    margin: 10px 9px 10px 10px;
    border: 1px solid #448aff;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 40%;
    padding: 2px;
}

.radio .inner {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 14px;
    height: 14px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: block;
    margin: 2px;
    border-radius: 50%;
    background-color: #448aff;
    opacity: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input[type="number"].form-control {
    width:80px;
    float: left;
}
select.form-control {
    margin: 0;
    margin-bottom: 15px;
}
textarea.form-control {
    min-height: 100px;
}

.howto {
    font-size: 13px;
    line-height: 1.5;
    color: #666;
    font-style: italic;
}

.inputColor{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-bottom: 15px;
}
.preview-app {
    width: 100%;
    height: 300px;
}
.app-footer {
    text-align: center;
}
.footer-header {
    margin: 10px 0 15px 0;
}
.footer-header img {
    width: 100%;
}
.omg-more-app {
    max-width:975px;
    margin: 0 auto;
    overflow: hidden;
}
.omg-more-app > div {
    width: 33.33%;
    float: left;
    padding: 0 15px;
}
.footer-copyright {
    margin-top: 15px;
}
hr {
    margin: 0;
}
p.noteWrap {
    border: 2px solid rgb(255, 64, 129);
    border-radius: 3px;
    font-size: 16px;
    margin: 20px;
    padding: 10px;
    text-align: center;	
}
p.noteWrap a.closeNote {
    float:right;
}
@media(max-width: 568px) {
    .omg-more-app > div {
        width: 50%;
    }
}