.otCookiesNotification {
    position: relative;
}
.otCookiesNotification #cookies-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 15px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Helvetica,Calibri,Arial,sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 1.5em;
    z-index: 9999;
}
.otCookiesNotification #cookies-show-detail {
    bottom: 52px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 15px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Helvetica,Calibri,Arial,sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 1.5em;
    z-index: 9999;
}
.otCookiesNotification #cookies-show-detail-top {
    top: 52px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 15px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Helvetica,Calibri,Arial,sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 1.5em;
    z-index: 9999;
}
/* #cookies-message {
    margin-right: 15px;
} */
#cookies-more-info {
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.8;
}

#cookies-submit > a{
    cursor: pointer;
    touch-action: manipulation;
    display: inline-block;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
    /*min-width: 140px;*/
}
@media only screen and (min-width: 768px){
    .otCookiesNotification #cookies-wrapper{
        text-align: left;
        display: flex;
    }
    #cookies-submit > a{
        display: block;
    }
    #cookies-message{
        -ms-flex: 1;
        flex: 1;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    #cookies-detail{
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    .cookies-detail-btn{
        display: flex;
        align-items: center;
        margin-left: 5px;
    }
    #cookies-submit{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: justify;
        align-content: space-between;;
    }
    #cookies-submit > a{
        -ms-flex: 1;
        flex: 1;
    }
}