.el-tabs--border-card {
    background: #fafafa;
    box-shadow: none;
    border: none;
}

.el-tabs__nav {
    float: unset;
    text-align: center;
}

.el-card {
    color: #606266;
}
.el-main{
    padding: 0;
}